<title>f*ck regex!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="f*ck regex!" />
<meta property="og:description" content="this ai tool(gpt-3.5) is for those who hate regex!" />
<meta property="og:url" content="https://fuckregex.dev/" />
<meta property="og:image" content="assets/card.jpg" />
<meta name="twitter:title" content="f*ck regex!">
<meta name="twitter:description" content="this ai tool(gpt-3.5) is for those who hate regex!">
<meta name="twitter:image" content="assets/card.jpg">
<meta name="twitter:card" content="summary_large_image">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="icon" type="image/png" href="assets/icon.png">